.table
{
	text-align: center;
	width: 500px;
	border: 1px solid yellow;
}
.Title
{
	background-color: red;
}
.Normal
{
	background-color: green;
}
.Special
{
	background-color: blue;
}